---
import Badge from "./Badge.astro";
---

<section class="h-screen flex flex-col items-center justify-center">
  <h1 class="h1">
    Backmoji
  </h1>
  <div class="mt-2 flex gap-3">
    <Badge type="npm"></Badge>
    <Badge type="github"></Badge>
  </div>
</section>
